<%- include('common/_header', {current: 'howto'}); %>
  <h1>HOWTO</h1>
  <article>
    <h2>What's Contract Bridge?</h2>
    <p>コントラクトブリッジは、運要素を極力排除した実力勝負のトランプ”競技”です。</p>
    <p>4人でテーブルを囲み、向かい合うペア同士で協力しながら推理・記憶・情報伝達を駆使して最適な結果を目指すものです。</p>
    <p>日本ではまだマイナーですが、ポーカー、ジン・ラミーに並ぶ世界三大カードゲームの1つに数えられており、特に欧米では「紳士淑女の嗜み」として社交的にも重視されています。</p>
    <p>トランプゲームの中でも数少ない、国際共通ルールが確立しているゲームであり、マインドスポーツの1種目として国際オリンピック委員会の承認競技リストにも登録されています。</p>
  </article>
  <article>
    <h2>How to play?</h2>
    <p>最初は以下の動画を見て、簡易版コントラクトブリッジである「ミニブリッジ」をプレイされることをお勧めします。</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/X9KAG71awWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>コントラクトブリッジの解説はただいま準備中です。
      <a href="http://www.jcbl.or.jp/tabid/156/Default.aspx" target="_blank">JCBLのページ</a>に概要があります。</p>
  </article>
  <%- include('common/_footer'); %>