<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>京都大学コントラクトブリッジクラブ（学生版）</title>
  <meta name="description" content="京都大学コントラクトブリッジクラブ(KUBC)は、京都大学でコントラクトブリッジというトランプゲームをしているサークルです。">
  <meta name="keywords" content="bridge,contract bridge,ブリッジ,コントラクトブリッジ,トランプ,京都大学,京大,サークル,学生,ユース">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="wrap">
    <header>
      <small>Kyoto University Contract Bridge Club - Students Ver.</small>
      <h1>京都大学コントラクトブリッジクラブ
        <small>学生版</small>
      </h1>
    </header>
    <nav>
      <div class="div-nav">
        <li>
          <a title="index" href="." disabled>HOME</a>
        </li>
        <li>
          <a title="howto" href="./howto.html">HOWTO</a>
        </li>
        <li>
          <a title="faq" href="./faq.html">FAQ</a>
        </li>
        <li>
          <a title="links" href="./links.html">LINKS</a>
        </li>
      </div>
    </nav>
    <main>
      <div id="currentPage" style="display:none;"><%= current %></div>